<template>
    <div class="content-wrap">
        <div class="docs-actions">
            <div class="action-item timeline-options">
                <ul>
                    <li v-on:click="changeContent('tasks')" v-bind:class="{'teal-background': content.tasks}">
                        Tasks
                    </li>
                    <li v-on:click="changeContent('milestones')" v-bind:class="{'teal-background': content.milestones}">
                        Milestones
                    </li>
                    <li v-on:click="changeView()" v-bind:class="{'teal-background': dateView}">
                        Date View
                    </li>
                    <li v-on:click="changeView()" v-bind:class="{'teal-background': !dateView}">
                        Category View
                    </li>
                </ul>
            </div>
            <div class="section-item section-top text-right">
                <div v-on:click="createTask()" class="btn-danger add-task-button">+ ADD A TASK</div>
            </div>
            <div v-if="dateView" class="action-item searchContainer">
                <form class="docs-search-wrap">
                    <input v-model="search" type="text" class="search-input" placeholder="Search">
                    <div class="search-submit"><i class="fas fa-search"></i></div>
                </form>
            </div>
        </div>
        <v-container>
            <div v-if="isMounted && dateView">
                <div v-for="(intervalData,index) in chosenItems">
                    <div v-if="index != 'completed'" class="section-item thisweek-section">
                        <h4 v-if="index == 'past' && intervalData.length > 0" class="sub-title task_this_week_header"><span class="red">Past</span></h4>
                        <h4 v-else-if="index == 'week' && intervalData.length > 0" class="sub-title task_this_week_header">This Week</h4>
                        <h4 v-else-if="index == 'upcoming' && intervalData.length > 0" class="sub-title task_this_week_header">Upcoming</h4>
                        <div class="list-dates timeline_this_week" v-if="intervalData.length > 0">
                            <v-data-iterator
                                    :items="intervalData"
                                    content-class="timelineIterator"
                                    :search="search"
                                    row
                                    wrap
                                    :hide-actions="booleanTrue"
                                    :key="key"
                                    no-data-text=""
                            >
                                <template v-slot:item="props">
                                    <div class="date-item">
                                        <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                        <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                        <div class="description">
                                            <div class="desc-wrap dropdown-toggle" :id="'dropdownMenuButton'+props.item.Counter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="action"></span>{{props.item.Description}}
                                                <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                    <div v-on:click="completionDeletion(props.item, 'completed')">Complete</div>
                                                    <div v-on:click="edit(props.item)">Edit</div>
                                                    <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                                </div>
                                            </div>
                                            <div class="desc-note">
                                                {{props.item.Notes}}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </v-data-iterator>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="isMounted && !dateView">
                <div class="accordions">
                    <div class="accordion-item">
                        <v-expansion-panel>
                            <v-expansion-panel-content
                                    v-for="(categoryItems,key) in chosenItems"
                                    :key="key"
                                    expand-icon=""
                            >
                                <template v-slot:header>
                                    <div class="accordion-trigger">
                                        <h4 v-if="key == 'oth'" class="acc-title">Other</h4>
                                        <h4 v-else class="acc-title">{{categoryItems[0].Display}}</h4>
                                    </div>
                                </template>
                                <div class="section-item thisweek-section">
                                    <div class="list-dates timeline_this_week">
                                        <v-data-iterator
                                                :items="categoryItems"
                                                content-class="timelineIterator"
                                                :search="search"
                                                row
                                                wrap
                                                :hide-actions="booleanTrue"
                                                :key="key"
                                                no-data-text=""
                                        >
                                            <template v-slot:item="props">
                                                <div class="date-item" v-if="!parseInt(props.item.isComplete) && !props.item.DateCompleted">
                                                    <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                                    <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                                    <div class="description">
                                                        <div class="desc-wrap dropdown-toggle" :id="'dropdownMenuButton'+props.item.Counter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="action"></span>{{props.item.Description}}
                                                            <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                                <div v-on:click="completionDeletion(props.item, 'completed')">Complete</div>
                                                                <div v-on:click="edit(props.item)">Edit</div>
                                                                <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                                            </div>
                                                        </div>
                                                        <div class="desc-note">
                                                            {{props.item.Notes}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </v-data-iterator>
                                    </div>
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </div>
                </div>
            </div>
            <div class="section-item completed-section">
                <h4 v-if="showCompleted" v-on:click="showCompleted = !showCompleted" class="title timeline-show-completed">Hide Completed <i class="fas fa-caret-up"></i></h4>
                <h4 v-else v-on:click="showCompleted = !showCompleted" class="title timeline-show-completed">Show Completed <i class="fas fa-caret-down"></i></h4>
                <div class="list-dates timeline_completed">
                    <div v-for="(data,i) in chosenItems">
                        <v-data-iterator
                                :items="data"
                                content-class="timelineIterator"
                                :search="search"
                                row
                                wrap
                                no-data-text=""
                                :hide-actions="booleanTrue"
                                :key="key"
                        >
                            <template v-slot:item="props">
                                <div class="date-item" v-if="props.item.DateCompleted || parseInt(props.item.isComplete)">
                                    <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                    <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                    <div class="description">
                                        <div class="desc-wrap dropdown-toggle" :id="'dropdownMenuButton'+props.item.Counter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="action"></span>{{props.item.Description}}
                                            <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                <div v-on:click="completionDeletion(props.item,'incomplete')">Mark as Incomplete</div>
                                                <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                            </div>
                                        </div>
                                        <div class="desc-note">
                                            {{props.item.Notes}}
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </v-data-iterator>
                    </div>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script>
    export default {
        props: {
            token: {
                String,
                default: null,
            },
            transactionID: {
                String,
                default: null,
            },
            userRole: {
                String,
                default: null,
            },
        },
        data(){
            return{
                showTimeline:           true,
                showTasks:              true,
                dateView:               true,
                query:                  'arraytasksmilestones',
                arraytasksmilestones:   null,
                objecttasksmilestones:  null,
                arraytasks:             null,
                objecttasks:            null,
                arraymilestones:        null,
                objectmilestones:       null,
                chosenItems:            null,
                booleanTrue:            true,
                isMounted:              false,
                prevInterval:           null,
                showCompleted:          false,
                taskRoles:              [],
                content: {
                    tasks:          true,
                    milestones:     true,
                },
                iteratingDateObject: {},
                key:            0,
                search:         '',
                headers: [
                    { text: 'Description', value:'Description' },
                    { text: 'Display', value: 'Display'},
                    { text: 'MilestoneCode', value: 'MilestoneCode'},
                ],
            }
        },
        watch:{
            /**
             * This watcher simply hides and shows the completed list.
             */
            showCompleted: {
                handler(val){
                    let completedList = $('.timeline_completed');
                    if(val) completedList.show();
                    else completedList.hide();
                },
            },
        },
        methods: {
            /**
             * Used to create an ad-hoc task.
             * The parameters are used to pass in the info already filled out if the user does not fill in a required field.
             * @param description
             * @param dateDue
             */
            createTask(description = '', dateDue = ''){
                let addTaskRoute = correctVuexRouteURL(this.$store.getters.routeName('transactionSummary.saveTask'));
                if (!addTaskRoute) genericError('Route not found or does not exist. Error code: add-task-001');
                let vueObject = this;
                let modalHTML =
                    '<div class="row" style="padding:15px;">' +
                    '   <h4>Add a Task</h4>' +
                    '   <h5>Please select a role for this task.</h5>' +
                    '   <div class="col-xs-12 col-sm-12">' +
                    '       <select id="taskRole">';
                
                $.each(this.taskRoles, (i, role) => {
                    if      (role == 'dtc')     modalHTML += '<option value="'+role+'">Buyer\'s and Seller\'s TC</option>';
                    else if (role == 'btc')     modalHTML += '<option value="'+role+'">Buyers\'s TC</option>';
                    else if (role == 'stc')     modalHTML += '<option value="'+role+'">Seller\'s TC</option>';
                    else if (role == 'da')      modalHTML += '<option value="'+role+'">Buyer\'s and Seller\'s Agent</option>';
                    else if (role == 'ba')      modalHTML += '<option value="'+role+'">Buyer\'s Agent</option>';
                    else if (role == 'sa')      modalHTML += '<option value="'+role+'">Seller\'s Agent</option>';
                });
                
                modalHTML +=
                    '       </select>' +
                    '   </div>' +
                    '   <div class="col-xs-12 col-sm-12">' +
                    '       <textarea style="width: 80%; margin: auto;" id="newTaskDescription" placeholder="Enter Description" rows="5">'+description+'</textarea>' +
                    '   </div>' +
                    '   <div class="col-xs-12 col-sm-12" style="padding: 10px;">' +
                    '       <input value="'+dateDue+'" type="date" id="newTaskDate">' +
                    '   </div>' +
                    '   <div class="col-xs-12 col-sm-6">' +
                    '       <button id="newTaskCancel" class="btn-v2 btn-red">Cancel</button>' +
                    '   </div>' +
                    '   <div class="col-xs-12 col-sm-6">' +
                    '       <button id="newTaskSave" class="btn-v2 btn-teal">Save</button>' +
                    '   </div>' +
                    '</div>';

                Swal2({
                    html:modalHTML,
                    showConfirmButton: false,
                    showCloseButton: true,
                    onBeforeOpen: () => {
                        $('#newTaskCancel').click(function() {
                            Swal2.close();
                        });

                        $('#newTaskSave').click(function() {
                            vueObject.$http.post(addTaskRoute,{
                                _token:         vueObject.token,
                                transactionID:  vueObject.transactionID,
                                Description:    $('#newTaskDescription').val(),
                                DateDue:        $('#newTaskDate').val(),
                                taskRole:       $('#taskRole').val(),
                            }).then((r) => {
                                if(r.body.status == 'success')
                                {
                                    genericSuccessToast(r.body.message);
                                    vueObject.fetchTimeline();
                                }
                                else if (r.body.status == 'fail')
                                {
                                    if(r.body.Description || r.body.DateDue)
                                    {
                                        Swal2({
                                            title: 'Error',
                                            text: r.body.message,
                                            type: 'error',
                                            showConfirmButton: true,
                                        }).then(() => {
                                            vueObject.createTask(r.body.Description, r.body.DateDue);
                                        });
                                    }
                                    else
                                    {
                                        genericError(r.body.message);
                                    }
                                }
                                else
                                {
                                    genericError();
                                }
                            });
                        });
                    },
                });
            },
            /**
             * Used to change the content of the timeline view. Content means either tasks, milestones, or both.
             * the 'query' variable is used to store the current requested data and the format.
             * @param content
             */
            changeContent(content){
                this.content[content] = !this.content[content];
                this.query = this.dateView ? 'array' : 'object';

                $.each(this.content, (i,type) => {
                    if(type) this.query += i;
                });

                if(!this.content.tasks && !this.content.milestones)
                {
                    this.query += content;
                    this.content[content] = true;
                }

                this.fetchTimeline();
            },
            /**
             * This is used to switch between dateView and categoryView.
             * !dateView = categoryView.
             */
            changeView(){
                this.isMounted = false;
                this.dateView = !this.dateView;
                if(!this.dateView) this.query = this.query.replace('array', 'object');
                else this.query = this.query.replace('object','array');
                this.fetchTimeline();
            },
            /**
             * Method is used to mark tasks/timeline as complete/incomplete and to delete tasks.
             * Milestones cannot be deleted, only completed.
             * @param object
             * @param status
             */
            completionDeletion(object, status){
                let type    = object.type;
                let id      = object.Link_ID;
                let updateRoute;
                let vueObject = this;
                if(type == 'task')
                {
                    updateRoute = correctVuexRouteURL(this.$store.getters.routeName('update.tasks'));
                    if (!updateRoute) genericError('Route not found or does not exist. Error code: com-timeline-001');
                    else
                    {
                        $.ajax({
                            url : updateRoute,
                            type: "post",
                            data: {
                                _token:this.token,
                                id:id,
                                userRole:this.userRole,
                                status:status
                            },
                            success: function(r){
                                if(r.status == 'success')
                                {
                                    genericSuccessToast(r.message);
                                    vueObject.fetchTimeline();
                                }
                                else if (r.status == 'fail') genericError(r.message);
                                else  genericError();
                            },
                            error:  function (err) {
                                genericError('Error callback.');
                            },
                        });
                    }
                }
                else
                {
                    updateRoute = correctVuexRouteURL(this.$store.getters.routeName('updateStatus'));
                    if(!updateRoute) genericError('Route not found or does not exist. Error code: com-timeline-002');
                    else
                    {
                        $.ajax({
                            url : updateRoute,
                            type: "post",
                            data: {
                                _token:this.token,
                                id:id,
                                status: status,
                            },
                            success: function(r){
                                if(r.status == 'success')
                                {
                                    genericSuccessToast(r.message);
                                    vueObject.fetchTimeline();
                                }
                                else if (r.status == 'fail') genericError(r.message);
                                else  genericError();
                            },
                            error:  function (err) {
                                genericError('Error callback.');
                            },
                        });
                    }
                }
            },
            /**
             * Used to edit existing milestones and tasks.
             * By default editing the milestone description is not allowed.
             * @param object
             */
            edit(object){
                let type        = object.type;
                let id          = object.Link_ID;
                let vueObject   = this;
                let modalTitle  = type == 'task' ? 'Edit Task' : 'Edit Milestone';
                let disabled = type == 'timeline' ? 'disabled':'';
                let updateRoute;
                let modalHTML =
                    '<div class="row">' +
                    '    <h3 style="margin-bottom: 20px; font-weight: bold;">'+modalTitle+'</h3>' +
                    '    <div class="col-xs-12 col-sm-12"><textarea id="description" rows="5" '+disabled+'>'+object.Description+'</textarea></div>' +
                    '    <div><textarea id="notes" placeholder="Notes" rows="3">'+(object.Notes || '')+'</textarea></div>' +
                    '    <div style="margin-bottom: 20px;"><input type="date" id="datePicker" value="'+object.DateDue.toLocaleString('en-US').split(' ')[0]+'"></div>' +
                    '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">' +
                    '        <button id="proceedConfirm" class="btn-v2 btn-teal">Proceed</button>' +
                    '    </div>' +
                    '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">' +
                    '        <button id="cancelConfirm" class="btn-v2 btn-red">Cancel</button>' +
                    '    </div>' +
                    '</div>';
                if (type == 'task')
                {
                    updateRoute = correctVuexRouteURL(this.$store.getters.routeName('update.tasks'));
                    if (!updateRoute) genericError('Route not found or does not exist. Error code: e-timeline-001');
                    Swal2({
                        html: modalHTML,
                        showConfirmButton: false,
                        onBeforeOpen: () => {
                            const content       = Swal2.getContent();
                            const $s            = content.querySelector.bind(content);
                            let cancel          = $s('#cancelConfirm');
                            let proceed         = $s('#proceedConfirm');
                            let datePicker      = $s('#datePicker');

                            cancel.addEventListener('click', () => {
                                Swal2.close();
                            });
                            proceed.addEventListener('click', () => {
                                Swal2.showLoading();
                                let newDate         = datePicker.value;
                                let taskDescription = $('#description').val();
                                let taskNotes       = $('#notes').val();

                                vueObject.$http.post(updateRoute,{
                                    _token: vueObject.token,
                                    id: id,
                                    Description: taskDescription,
                                    DateDue: newDate,
                                    Notes: taskNotes,
                                    status: 'edit',
                                }).then((r) => {
                                    if(r.body.status == 'success')
                                    {
                                        genericSuccessToast(r.body.message);
                                        vueObject.fetchTimeline();
                                    }
                                    else if (r.body.status == 'fail') genericError(r.message);
                                    else  genericError();
                                });
                            }); //end of proceed function
                        },
                    });
                }
                else
                {
                    let routes          = {
                        listAffectedTasksRoute      : correctVuexRouteURL(vueObject.$store.getters.routeName('listAffectedTasks')),
                        approveTaskChangeRoute      : correctVuexRouteURL(vueObject.$store.getters.routeName('approveTaskChange')),
                        updateMilestoneLengthRoute  : correctVuexRouteURL(vueObject.$store.getters.routeName('updateMilestoneLength')),
                    };

                    updateRoute = correctVuexRouteURL(this.$store.getters.routeName('updateStatus'));
                    if(!updateRoute) genericError('Route not found or does not exist. Error code: com-timeline-002');
                    let recalculateTimelineRoute = correctVuexRouteURL(this.$store.getters.routeName('timeline.recalculate'));
                    if(!recalculateTimelineRoute) genericError('Route not found or does not exist. Error code: com-timeline-003');

                    let milestoneData = {
                        ID:             object.Link_ID,
                        Description:    object.Description,
                        DateDue:        object.DateDue.toLocaleString('en-US').split(' ')[0],
                        Notes:          object.Notes,
                    };

                    if(object.Description == 'Acceptance of Offer')
                    {
                        let modalHTML =
                            '<div class="row">' +
                            '    <h3 style="margin-bottom: 20px; font-weight: bold;">Confirm Changes</h3>' +
                            '    <div style="margin-bottom: 20px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Changing <i>Acceptance Date</i> will reset and recalculate your timeline ' +
                            '        and tasks. Are you sure you want to proceed?' +
                            '    </div>' +
                            '    <div style="margin-bottom: 20px;"><input type="date" id="datePicker" value="'+object.DateDue.toLocaleString('en-US').split(' ')[0]+'"></div>' +
                            '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">' +
                            '        <button id="proceedConfirm" class="btn-v2 btn-teal">Proceed</button>' +
                            '    </div>' +
                            '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">' +
                            '        <button id="cancelConfirm" class="btn-v2 btn-red">Cancel</button>' +
                            '    </div>' +
                            '</div>';
                        Swal2({
                            html: modalHTML,
                            showConfirmButton: false,
                            onBeforeOpen: () => {
                                const content   = Swal2.getContent();
                                const $s        = content.querySelector.bind(content);
                                let cancel      = $s('#cancelConfirm');
                                let proceed     = $s('#proceedConfirm');
                                let datePicker  = $s('#datePicker');
                                cancel.addEventListener('click', () => {
                                    Swal2.close();
                                });
                                proceed.addEventListener('click', () => {
                                    let newDate = datePicker.value;
                                    Swal2.showLoading();
                                    recalculateTimeline(recalculateTimelineRoute,vueObject.transactionID,newDate,vueObject.fetchTimeline,vueObject.token);
                                }); //end of proceed function
                            },
                        }); //end of Swal2 modal.
                    }
                    else
                    {
                        timelineDateChangeDialog(
                            milestoneData,
                            routes,
                            vueObject.transactionID,
                            vueObject.fetchTimeline,
                            vueObject.token,
                            '',
                            false,
                            object.mustBeBusinessDay,
                            true,
                        );
                    }
                }
            },
            /**
             * Used to compute and separate important date information on the milestone/task.
             *
             * @param DateDue
             * @returns {{month: string, date: string, interval: string, isToday: boolean}}
             */
            computeDate(DateDue){
                let itemDateFormat  = 'YYYY-MM-DD';
                let USDateFormat    = 'MM/DD/YYYY';
                let today           = (new Date()).toLocaleDateString('en-US').split(' ')[0];
                let item_date       = DateDue.toLocaleString('en-US').split(' ')[0];
                let weekNumber      = moment().week();
                let month           = moment(DateDue, itemDateFormat).format("MMM");
                let date            = moment(DateDue, itemDateFormat).format("DD");
                let interval;
                if ((weekNumber === moment(DateDue, itemDateFormat).week() && !moment(DateDue, itemDateFormat).isBefore()) || moment(today, USDateFormat).isSame(item_date, itemDateFormat)) interval = 'week';
                else if(moment(DateDue, itemDateFormat).isBefore()) interval = 'past';
                else interval = 'upcoming';
                let isToday = false;
                if(moment(today, USDateFormat).isSame(item_date, itemDateFormat)) isToday = true;
                return {
                    month:      month,
                    date:       date,
                    interval:   interval,
                    isToday:    isToday,
                };
            },
            /**
             * The function which is used to fetch the task/milestone data.
             * It is necessary to call this function after making changes to the database so that
             * the user can view the updated information without refreshing the page.
             *
             * This function depends on 'query' variable to decide what information to show.
             */
            fetchTimeline(){
                let getTimelineRoute = correctVuexRouteURL(this.$store.getters.routeName('getMergedTasksTimeline'));
                if (!getTimelineRoute) genericError('Route not found or does not exist. Error code: g-time-001');
                this.$http.post(getTimelineRoute,{
                    _token: this.token,
                    transactionID: this.transactionID,
                }).then((r) => {
                    this.arraytasksmilestones   = r.body.mergedArray;
                    this.objecttasksmilestones  = r.body.mergedObject;
                    this.arraytasks             = r.body.tasks;
                    this.objecttasks            = r.body.tasksObject;
                    this.arraymilestones        = r.body.milestones;
                    this.objectmilestones       = r.body.milestonesObject;
                    this.chosenItems            = this[this.query];
                    this.taskRoles              = r.body.taskRoles;

                    /**
                     * Compute the interval prior to displaying the data.
                     * @type {{past: Array, week: Array, upcoming: Array}}
                     */

                    let intervalData    = {
                        past:       [],
                        week:       [],
                        upcoming:   [],
                        completed:  [],
                    };

                    if(this.dateView && $.isArray(this.chosenItems))
                    {
                        $.each(this.chosenItems, (i,el) => {
                            el.DateData = this.computeDate(el.DateDue);
                            if(el.DateCompleted != null || parseInt(el.isComplete))
                            {
                                intervalData.completed.push(el);
                            }
                            else
                            {
                                intervalData[el.DateData.interval].push(el);
                            }
                        });

                        this.chosenItems = intervalData;
                    }
                    else
                    {
                        $.each(this.chosenItems, (i,category) => {
                            $.each(category, (i,el) => {
                                el.DateData = this.computeDate(el.DateDue);
                                if(el.DateCompleted != null || parseInt(el.isComplete))
                                {
                                    intervalData.completed.push(el);
                                }
                                else
                                {
                                    intervalData[el.DateData.interval].push(el);
                                }
                                category = intervalData;
                            });
                        });
                    }
                    this.isMounted      = true;
                });
            },
        },
        mounted(){
            this.fetchTimeline();
        },

    }
</script>

<style scoped>
    .section-item{
        border:none;
    }
    .dropdown-menu{
        color: #000 !important;
    }
    .timeline_completed{
        display: none;
    }
    .dropdown-menu div:hover{
        color: #21d7d1;
        text-decoration: underline;
    }
    .searchContainer{
        width: 80%;
        margin: auto;
    }
    .timeline-options ul li{
        display: inline-block;
        padding: 10px;
        border: solid 1px #e6e6e6;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }

    .timeline-options ul li:hover{
        background: #21d7d1;
    }
    .v-expansion-panel{
        box-shadow: none !important;
    }
</style>