@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body{
    background-color: #F9F9F9;
}

.content-style-test-test{
    width: 100%;
    float: left;
}
.add-new-transaction-title h1{
    font-size: 21px;
    margin-top: 30px;
    line-height: 22px;
    color: rgb(0,0,0);
}
.div-address-search{
    text-align: center;
    margin-top: 50px;
}
.div-address-search .location-icon{
    width: 16px;
    height: 24px;
    float: left;
    margin-right: 1px;
}
.div-address-search .address-search{
    font-size: 20px;
    line-height: 22px;
    color: rgb(184,184,184);
    font-weight: 300;
    float: left;
}
.div-address-search .address-search{
    border:0;
    background-color: #F9F9F9;
    width: 90%;
    font-weight: 100;
    padding: 3px 5px;

}
.div-address-search .address-search:focus{
    outline: none;
    border-bottom: 1px solid #01BEB8;
}
.two-by-two,.two-by-two-white{
    margin-top: 40px;
    overflow: hidden;
}
.two-by-two div .red,.two-by-two div .blue,.two-by-two-white div .white{
    height: 309px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    text-align: center;
    display: table;
    /* cursor: pointer; */
}
.two-by-two div .blue{
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
}
.two-by-two div .red,.one-by-one div .red{
    background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%);
}
.two-by-two-white div .white{
background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
}
.two-by-two div .red-blue-2,.two-by-two-white div .white{
    margin-top: 10px;
}
.two-by-two div .red-blue-2 .img,.two-by-two-white div .white .img{
    background-image: url('../images/Layer 6.png');
    height: 231px;
    width: 144px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.two-by-two div .red-blue-2 .transaction-placeholder,.one-by-one div .red-blue-4 .transaction-placeholder,
.one-by-one-white div .white .transaction-placeholder{
    vertical-align: middle;
    display: table-cell;
}
.two-by-two div .red-blue-2 .transaction-placeholder h4,.one-by-one div .red-blue-4 .transaction-placeholder h4{
    font-size: 18px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: center;
    margin-bottom: -13px;
}
.two-by-two div .red-blue-2 .transaction-placeholder h2{
    color: rgb(255,255,255);
    font-weight: 100;
    font-family: "Montserrat";
}
/* ########################## four by four */
.one-by-one div .red{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    text-align: center;
    display: table;
    cursor: pointer;
}
.one-by-one div .blue{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
    text-align: center;
    display: table;
    cursor: pointer;
}
.one-by-one div .red-blue-4{
    margin-top: 20px;
}
.one-by-one div .red-blue-4 .img{
    background-image: url('../images/Layer 3 copy 2.png');
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.one-by-one div .red-blue-4 .transaction-placeholder h2{
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 100;
    font-family: "Montserrat";
}
/* ######################### one-by-one-while */

.one-by-one-white div .white{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background-color: white;
    text-align: center;
    display: table;
    margin-top: 20px;
    cursor: pointer;
}

.one-by-one-white div .white .img{
    background-image: url('../images/Layer 3 copy 2.png');
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.one-by-one-white div .white .transaction-placeholder h4{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -13px;
}

/* .container-test{
    width: 1040px;
    margin-left: 70px;
} */

/* @media(min-width:1200)  {
    .container-left{
    width: 1100px;
    margin-left: 70px;
    }
} */
.footer{
    margin: 70px 0 20px 0;
}
.footer .left,.footer .right{
    float: left;
}
.footer .img{
    background-image: url('../images/logo.png');
    height: 32px;
    width: 21px;
    margin-right: 10px;
}

.footer .right .copy p{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
}

.footer .right .links a{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
    margin-right: 5px;
}
/* ############################################### step2 edit transaction */
.two-by-two-white div .white {
    padding-left: 30px;
}
.two-by-two-white div .white .transaction-details .info{
    margin-top: 25px;
    overflow: hidden;
}

.two-by-two-white div .white .transaction-details .info .purchase-price span,
.two-by-two-white div .white .transaction-details .info .contract-date  span,
.two-by-two-white div .white .property-details .info .data  span

{
    font-size: 12px;
    line-height: 26px;
    color: rgb(3,192,185);
    font-weight: bold;
    font-family: "Open Sans";
}
.two-by-two-white div .white .transaction-details .info .purchase-price h1{
    font-size: 30px;
    line-height: 26px;
    color: rgb(0,0,0);
    font-family: "open sans";
    font-weight: 300;
}
.two-by-two-white div .white .transaction-details .info .contract-date  h6,
.two-by-two-white div .white .property-details .info .data  h6
{
    font-size: 14px;
    line-height: 50px;
    color: rgb(0,0,0);
    font-family: "open sans";
    font-weight: 900;
    margin-top: -20px;
}
.two-by-two-white div .white .property-details .info .address  h6{
    line-height: 20px;
    margin-top: 5px;
}
.two-by-two-white div .white .transaction-details .info a,
.two-by-two-white div .white .property-details .info a
{
    font-size: 14px;
    color: rgb(205,101,100);
    font-family: "open sans";
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 5px;
}
.two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(2){
    margin-top: -38px;
}
.two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(1){
    margin-top: -5px;
}
/* ################################## .one-by-one in the show data */

.one-by-one div .red-blue-4 .transaction-info h3{
    font-size: 18px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    text-align: left;
}
.one-by-one-white div .white .transaction-info h3{
    font-size: 18px;
    margin-bottom: 17px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
.one-by-one div .red-blue-4 .transaction-info h4{
    font-size: 16px;
    line-height: 23px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
}
.one-by-one-white div .white .transaction-info h4{
    font-size: 14px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
.one-by-one div .red-blue-4 .transaction-info h5{
    font-size: 12px;
    line-height: 12px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
}
.one-by-one-white div .white .transaction-info h5{
    font-size: 12px;
    line-height: 14px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
.one-by-one div .red-blue-4 .transaction-info .hrefs a{
    font-size: 12px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.one-by-one div .red-blue-4 .transaction-info .hrefs .info{
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.one-by-one div .red-blue-4 .transaction-info .hrefs .view{
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.one-by-one-white div .white .transaction-info .hrefs .info{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.one-by-one-white div .white .transaction-info .hrefs .view{
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.one-by-one-white div .white .transaction-info .hrefs a{
    font-size: 12px;
    color: rgb(203,79,78);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.one-by-one-white div .white .coordinator h4{
    margin: 3px 0;
    font-size: 12px;
    margin-left: 4px;
}
.one-by-one-white div .white .coordinator h3{
    margin-bottom: 10px;
}
.no-cursur{
    cursor: default !important;
}












/* ################################################################### Transaction details :-moz-user-disabled */
.modal-body .header{
    margin-bottom: 30px;
    margin-bottom: 40px;
    overflow: hidden;
}
.modal-body .header h1{
    font-size: 20px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: 300;
}

.model-step .input-data .the-input{
    width: 90%;
    /* display: inline; */
    float: left;
}
.model-step .input-data .input-and-image .red-bottom{
    border-bottom: 1px solid #CA4A49;
    overflow: hidden;
}
.model-step .input-data .the-input input{
    width: 100%;
    height: 20px;
    outline: 0px;
    border: 0px;
}
.model-step .input-data .img{
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 10px;
    margin-right: 5px;
    transform: translate(0%,39%);
}
.model-step .input-lable h6{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
}
/* input[type=date]::-webkit-datetime-edit{ color: transparent; }
input[type=date]:focus::-webkit-datetime-edit{ color: #000; }  */
.seller-rent{
    margin-top: 20px;
}
.seller-rent h6{
    font-size: 18px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: 300;
}

.check-box-section .o-radio-container{
    float: left !important;
    margin-left: 0;
}
.right-arrow{
    height: 17px;
    width: 10px;
    position: absolute;
    right: 22px;
    top: 19px;
}
.the-next-model,.the-next-model-b-s{
    position: relative;
    width: 146px;
    height: 58px;
    border-radius: 6px;
    background-color: #01bdb7;
    font-size: 12px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    padding-left: 20px;
    outline: 0;
    border: 1px solid #01BDB7;
    margin-left: 15px;
    margin-top: 50px;
}
/* ######################################################## STEP 2 */
.add-note-a h6{
    font-size: 11px;
    line-height: 22px;
    color: rgb(202,74,73);
    font-family: "Open Sans";
    font-weight: bold;
    cursor: pointer;
    margin-top: 35px;
}
.the-previous-model{
    font-size: 12px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
}
.sale-conti{
    margin-bottom: 30px;
}
.sale-conti h4{
    font-size: 18px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
}
.modal-content{
    overflow: hidden;
}
.blue-ball{
    height:9px;
    width: 9px;
    float: left;
    margin: auto;
    transform: translate(-50%,100%);
}
.next-continue-btn{
    width: 188px;
    height: 59px;
}
.save-exit-button{
    position: relative;
    width: 146px;
    height: 58px;
    border-radius: 6px;
    background-color: #c94949;
    font-size: 12px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    padding-left: 20px;
    outline: 0;
    border: 1px solid #c94949;
    margin-left: 15px;
    margin-top: 50px;
}
.o-select{
    width: 100%;
}

.save-exit-button-td{
    position: relative;
    width: 146px;
    height: 58px;
    border-radius: 6px;
    background-color: #c94949;
    font-size: 12px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    padding-left: 20px;
    outline: 0;
    border: 1px solid #c94949;
    margin-left: 15px;
    margin-top: 50px;
}
/******************** Mail ****************************/
.mail_fields{
    width: 100%;
}

.mail_fields div{
    width: 50%;
    margin: 0 auto;
}

.mail_fields label{
    width: 20%;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.mail_fields input[type=text]{
    height: 30px;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.to_field{
    width: 200px;
    height: 20px;
}

.email-template-container{
    width: 100%;
}

.email-template{
    width: 50%;
    margin: 0 auto;
}

.choose-template-container{
    width: 100%;
    padding: 20px;
    padding-left: 50px;
}

.choose-template-form input{

}

.template-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #dddddd;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.template-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.template-radio:hover {
    background-color: #e9e9e9;
}

.template-radio:checked {
    background-color: #01e7e1;
}

label {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: #666;
    cursor: pointer;
}

/* ################################################# ANKUSH DESIGN */
.address-field{
    display: inline;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cd6563;
    outline: none;
    padding-left:10px;
    padding-right:10px;
}
.show-notes{
    display: block !important;
}
.important{
    color: #cd6563;
    padding-left: 5px;
}
.btn-teal{
    font-size: 14px;
    background-color: #21d7d1;
    color: white;
    font-weight: 600;
}
.btn-red{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    background-color: #cd6563;
    color: white;
    font-weight: 600;
}
.text-field{
    display: inline;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cd6563;
    outline: none;
    padding-left:10px;
    padding-right:10px;
}
.modal-content{
    padding: 20px;
}
.o-teal-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #21d7d1;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: white;

}

.deactivated{
    background:lightgray !important;
}
.modal-label{
        padding-left: 0px;
    padding-right: 0px;
}
.address-label{
    font-size: 16px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: 300;
}
.modal-label{
    font-size: 12px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
}
.o-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 16px;
    background-color: white;
    border: none;
    background: url("../images/icons/dropdown.png") no-repeat 98% center;
    background-size: 20px 20px;
    border-bottom: 1px solid #cd6563;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    padding-left: 10px;
}
.o-select::before{
    content: "\f107";
    font-family: "FontAwesome";
    color: black;
    position: absolute;
    right:20px;
    top:5px;
    z-index: -1;
    pointer-events: none;
}
.field-row{
    margin-bottom: 20px;
}
.o-radio-container{
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    font-weight: 600;
    margin:7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 5px;
}
.true-checked{
        background-color: #01bdb7;
        color: white !important;
}
.false-checked{
        background-color: #c94543;
        color: white !important;
}
.check-false:hover{
    background-color: #c94543;
    color: white;
}
.check-true:hover{
    background-color: #01bdb7;
    color: white;
}
.check-false{
    color: #c94543;
        border: 1px solid #c94543;
}
.check-true{
    color: #01bdb7;
    border: 1px solid #01bdb7;
}

.o-radio-container input{
    display: none;
    opacity: 0;
}
.o-radio-container i{
    font-size: 14px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.field-row-2{
    margin-top: 50px;
}
.errors {
    display: none;
    text-align: left;
    font-size: 12px;
    color: red;
}
.intro .line-pa .blue-black h3{
    font-size: 12px;
    color: rgb(1,190,184);
    font-family: "Open Sans";
    font-weight: bold;
}
.intro .line-pa .blue-black h6{
    font-size: 12px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-style: italic;;
}
.intro .line-pa .blue-black h4,.intro .title h1{
    font-size: 18px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
@media (min-width: 992px){
    .modal-lg {
        width: 1041px;
    }
}
.intro .line-pa a{
    width: 110px;
    height: 46px;
    border-radius: 6px;
    background-color: #cb4f4d;
    font-size: 12px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    border: 16px solid #cb4f4d;
}
.height-30{
    height: 30px;
}
.the-previous-model{
    cursor: pointer;
}
.spinner-kero{
    display: none;
    font-size: 107px;
    position: absolute;
    left: 45%;
    top: 16%;
    z-index: 2;
    transform: translateX(-50%);
    /* display: none; */
    font-size: 180px;
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 2;
    transform: translateX(-50%);
    color: #000;
}
.padding-left-0{
    padding-left: 0;
}
.line-NB .label-control{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
}
.add-note{
    font-size: 12px;
    line-height: 22px;
    color: rgb(202,69,68);
    font-family: "Open Sans";
    font-weight: bold;
}
.tall-button{
    width: 214px;
}
.line-NB{
    margin-top: 20px;
    /* overflow: hidden; */
}
.overflow-hide{
    overflow: hidden;
}
.save-buyer-seller-btn{
    position: relative;
    width: 96px;
    height: 58px;
    border-radius: 6px;
    background-color: #01bdb7;
    font-size: 12px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    padding-left: 20px;
    outline: 0;
    border: 1px solid #01BDB7;
    margin-left: 15px;
    margin-top: 50px;
}
.modal-content .dim:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: block;
    z-index: 1;
    /* background:rgba(0, 0, 0, 0.7); */
}
.modal-content .dim{
    display: none;
}
.display-none{
    display: none;
}
a{
    cursor: pointer;
}
.border-red{
    border: 1px solid red;
}
/* #################################### print invoice */
.container-inv{
    width: 816px;
    margin: auto;
    background-color: #FFFFFF;
    overflow: hidden;
    padding-left: 0.75in;
    padding-right: 0.75in;
    padding-top: .5in;
    padding-bottom: 200px;
}
.container-inv .title-div .left-div .title .context{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.container-inv .title-div{
    margin-top: 50px;
}
.container-inv .title-div .left-div .title .image{
    height: 37px;
    width: 209px;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-inv .title-div .left-div  .address{
    margin-top: 20px;
    font-weight: bolder;
    /* font-family: 'Open Sans'; */
}
.container-inv .title-div .left-div  .bill-to{
    margin-top: 30px;
}
.container-inv .title-div .right-div{
    margin-top: 20px;
}
.container-inv .title-div .right-div .balance-due{
    background-color: #D3D3D3;
    overflow: hidden;
}
.container-inv .title-div .right-div .balance-due .panel-due{
    font-size:13px;
    margin-top: 3px;
    font-weight: 700;
}
.container-inv .title-div .right-div .balance-due .data{
    font-size: 20px;
}

.table thead td {
    background-color: #474747 !important;
    color: white !important;
}
.table tr{
    border-bottom: .5px solid #474747;

}
.container-inv .items{
    margin-top: 60px;
}
.container-inv .items .table tr td:first-child { border-radius: 10px 0 0 10px; }
.container-inv .items .table tr td:last-child { border-radius: 0 10px 10px 0; }
.container-inv table thead td:first-child{width: 60%;}
.container-inv table thead {height: 20px;}
.container-inv .total-sub-total{
    float: right;
    width: 40%;
    margin-top: 60px;
}
.float-left{
    float: left;
}
.main-content .white{
    background-color: white;
}
.float-right{
    float: right;
}
.container-inv .Terms{
    margin-top: 40px;
}
.container-inv .Notes{
    margin-top: 40px;
}
.container-inv .items .headre-inv-table{
    background-color: #474747;
    overflow: hidden;
    color: white;
    padding: 4px;
    border-radius: 4px;
}
.container-inv .items .item{
    width: 55%;
    float: left;
}
.container-inv .items  .Quantity , .container-inv .items  .Rate,
.container-inv .items  .Amount{
    width: 13%;
    float: left;
}
.container-inv .items .item-line{
    padding: 4px;
    border-bottom: 1px solid #474747;
    overflow: hidden;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.btn-red{
    font-size: 12px;
    background-color: #c94949;
    color: white;
    font-weight: 600;
}

span.upper-case {
    text-transform: uppercase;
}

/* date input (working on chrome) */
input[type=date]::-webkit-calendar-picker-indicator {
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/69/Calendar_font_awesome.svg) no-repeat;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 16px;
    opacity: 1;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}