@media screen{

	#mc-steps{
		.form-items{
			@media (min-width: 992px) {
				max-width: 50%;
			}
			.label-control {
				&.checkboxes{
					color: #a4a4a4;
					margin-right: 15px;
					margin-bottom: 15px;
					position: relative;
					padding-left: 15px;
					font-weight: 400;
					transition: all 0.7s ease;
					padding-left: 45px;
					display: block;
					@media (min-width: 992px) {
						font-size: 28px;
					}
					&.radio{
						& > span{
							border-radius: 50%;
						}
					}
					&:hover{
						color: $black;
					}
					input{
						display: none;

						&:checked + span {
							border-color: green;
							background: green;
						}
					}
					& > span{
						content: '';
						display: block;
						border: 2px solid #000000;
						height: 30px;
						width: 30px;
						vertical-align: middle;
						top: 50%;
						position: absolute;
						left: 0;
						margin-top: -15px;
						transition: all 0.7s ease;
					}


				}
			}

			.form-select{
				position: relative;
				&:after{
					content: "\f078";
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					top: 50%;
					font-size: 18px;
					margin-top: -12px;
					right: 15px;
					pointer-events: none;
				}
			}
			.input-wrapper{
				@media (min-width: 992px) {
					max-width: 50%;
				}
			}

			.form-control{
				height: 45px;
				appearance:none;
				border-radius: 0;
				transition: all 0.7s ease;
				border: 1px solid #8c9194;
				background: #f4f4f4;

				@media (min-width: 992px) {
					height: 65px;
					font-size: 26px;
				}
				&:focus{
					background: $white;
				}
			}
		}

		& > .steps{
			margin-bottom: 30px;
			ul{
				margin: 0 0 0 -5px;
				padding: 0;
				display: inline-block;
				list-style-type: none;
				position: relative;
				@media (min-width: 992px) {
					margin-left: -50px;
				}
				&:after{
					content: '';
					display: block;
					height: 1px;
					width: auto;
					background: $red;
					position: absolute;
					left: 5px;
					right: 0;
					top: 50%;
					z-index: 1;
					@media (min-width: 992px) {
						left: 50px;
					}
				}
				li{
					position: relative;
					z-index: 2;
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
					@media (min-width: 992px) {
						margin-left: 50px;
					}

					&.current{
						~ li{
							a{
								background: #d5d5d5;
								color:#8c9194;
							}
						}
					}
					.current-info{
						display: none;
					}
					a{
						outline: none;
						display: inline-block;
						font-size: 1em;
						width: 30px;
						height: 30px;
						line-height: 1em;
						text-align: center;
						padding: 8px 0 0 0;
						background: #d5d5d5;
						border-radius: 50%;
						color: #8c9194;
						text-decoration: none;
						background: #222222;
						color:#fff;
						@media (min-width: 992px) {
							width: 60px;
							height: 60px;
							font-size: 1.2em;
							padding-top: 21px;
						}
					}
				}
			}
		}

		& > .content{
			background: #fff;
			padding: 30px;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			h3.title{
				display: none;
			}


			.question{
				margin: 0 0 40px;
				font-weight:300;
			}

			.form-control{

			}
		}

		& > .actions {
			background: #fff;
			padding: 0 30px 30px;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			line-height: 1em;
			ul{
				margin:0;
				padding: 0;
				@media (min-width: 992px) {
					display: inline-block;
					width: 100%;
				}
				li{
					display: block;
					&:first-child{
						margin-bottom: 10px;

						a{
							background: #8c9194;
							&:hover{
								background: $black;
							}
							&:before{
								content: "\f053";
								font-family: 'Font Awesome 5 Free';
	  							font-weight: 900;
	  							margin-right: 10px;
							}
						}
					}
					&:last-child,
					&:nth-child(2){

						a{
							background: $red;
							&:hover{
								background: $black;
							}
							&:after{
								content: "\f054";
								font-family: 'Font Awesome 5 Free';
								font-weight: 900;
								margin-left: 10px;
							}
						}
					}
					a{
						width: 100%;
						background: #222222;
						color: $white;
						line-height: 1em;
						padding: 15px 30px;
						font-size: 0.875em;
						text-decoration: none;
						border-radius: 7px;
						text-transform: uppercase;
						display: inline-block;
						text-align: center;
					}
					@media (min-width: 992px) {
						&:first-child{
							float: left;
							margin-bottom: 0;
						}
						&:last-child,
						&:nth-child(2){
							float: right;
						}
					}

				}
			}
		}
	}
}