/*********** Buttons **********/
.btn-v2{
  border-radius: 5px;
  border: 0;
  padding: 10px 15px 10px 15px;
  width: 100%;
}

.btn-teal {
  font-size: 14px;
  background-color: $teal !important;
  color: white;
  font-weight: 600;
}

.btn-red {
  font-size: 14px;
  background-color: $red !important;
  color: white;
  font-weight: 600;
}

.o-teal-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $teal !important;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  color: white;
}