/******** Agent Modal   *********/

.modal-body-wrapper{
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.7s ease-out;
}
.modal-body-wrapper.pan-left{
  transform: translateX(-50%);
}
.modal-body-wrapper.pan-right{
  transform: translateX(0%);
}
.modal-body-wrapper .header{
  margin-bottom: 10px;
}

.agent-modal p{
  font-size: 14px;
  font-weight: 300;
}
.agents-modal .modal-content .modal-header{
  border-bottom: none;
  padding: 0;
}
.step-1{
  padding: 20px;
  float: left;
}
.step-1.hide{

}
.step-2{
  padding: 20px;
  padding-left: 30px;
  float: left;
}
.step-2.show{

}
.search-container{
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: #eeeeee;
  margin-bottom: 5px;
}
.search-container .field-box{
  width: 70%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
}
.search-container .field-box input{
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #c94543;
  margin-left: 3px;
  margin-right: 5px;
  padding-left: 10px;
}
.agent-details{
  margin-top: 40px !important;
}
.o-red-link{
  color: #c94543;
  font-weight: 500;
}
.field-row{
  margin-top:20px;
}
.field-row label{
  font-size:12px;
  margin-bottom: 15px;
}
.o-link-previous{
  font-size: 12px;
  line-height: 22px;
  color: rgb(0,0,0);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  margin-right: 20px;
}
.agents-modal .add-note{
  font-size: 12px;
  line-height: 22px;
  color: rgb(202,69,68);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}
.modal-title{
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  color: rgb(0,0,0);
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.note{
  margin-top: 20px;
  margin-bottom: 10px;
}
#brokerage-office-modal .modal-content label{
  font-size: 12px;
  margin-bottom: 7px;
}
#brokerage-office-modal .modal-dialog{
  margin-left: 53%;
  margin-top: -10px;
  width: 450px;
}
#brokerage-office-modal .modal-content .modal-header{
  border-bottom: none;
  padding: 0;
}

.office_search_list{
  position: absolute;
  left: 0;
  z-index: 5;
  list-style: none;
  padding-left: 5px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: none;
}
.office_search_list li{
  margin-top: 10px;
  margin-bottom: 10px;
}

.office_search_list::-webkit-scrollbar{
  width: 5px;
  background-color: white;
}

.office_search_list::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
.office_search_list li:hover{
  background: #f2f2f2;
  cursor: pointer;
}
#search_brokerage_spinner{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 95%;
  display: none;
}
.search_list{
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  list-style: none;
  padding-left: 10px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.search_list li{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search_list li:hover{
  background: #f2f2f2;
  cursor: pointer;
  z-index: 5;
}
.search_list{
  font-weight: 1000;
  color: #090f0f;
  display: none;
}

#search_person_spinner{
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 93%;
  display: none;
}
.modal-content.dim:after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
  z-index: 1;
  background:rgba(0, 0, 0, 0.7);
}

.modal-notes{
  display: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #F9F9F9;
  transition: all 1s;
}
.modal-notes.active{
  display: block !important;
}