/****** Tasks  *******/


.tasks-textarea {
  border-radius: 5px;
  margin: 25px 0 0;
  width: 342px;
  height: 107px;
}

.tasks-red-bottom {
  border-bottom: 1px solid $red;
  width: 342px;
  overflow: hidden;
  img {
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 10px;
    margin-top: 7px;
    margin-right: 5px;
    transform: translate(0%, 39%);
    background-image: url(http://offerclose/public/images/short-icon/Rectangle-date.png);
  }
}

.tasks-input {
  float: left;
  height: 20px;
  outline: 0;
  border: 0 !important;
  padding-left: 0;
  width: 342px !important;
}

.tasks-save {
  position: relative !important;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: $teal;
  font-size: 17px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #01BDB7;
  margin-left: 15px;
  margin-top: 50px;
}

.edit-task-container {
  width: 80% !important;
  padding: 15px !important;
}

.task-modal-class .modal-content {
  width: 500px;
}

.timeline-hide-toggle {color:teal!important; cursor: pointer; display: none}
.timeline-show-completed {cursor: pointer; text-align: center;  font-size: 17px!important;}
.timeline_completed {display:none}
.desc-wrap:hover {cursor: pointer}
.desc-wrap-completed:hover {background-color: #e85c5c!important; cursor: pointer}
.tasks-title {color:#cb4544!important; font-weight: 600;text-transform: capitalize!important;}
.link-active{ color: #D52A39;}
.mobile-view{color: #00DED3}
.view-buttons{
  padding: 20px;
}
.view-buttons ul li{
  list-style: none !important;
  display: inline-block;
  float: right;
  padding:5px;
}

.category-button{
  color: white;
  background: #21D7D1;
  padding: 10px;
  border-radius: 5px;
}

.category-button-on{
  color: white;
  background: #21D7D1;
  padding: 10px;
  border-radius: 5px;
  border:solid 1px #ccc;
}

.category-button-off{
  border:solid 1px #ccc;
  color: #C0C6CC;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.chronological-button{
  border:solid 1px #ccc;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: #C0C6CC;
}


.chronological-button-off{
  border:solid 1px #ccc;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: #C0C6CC;
}


.chronological-button-on{
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background: #21D7D1;
  border:solid 1px #ccc;
}